<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grid.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="js/fontawesomepro.js"></script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css">

    <title>Robust UI | Grid</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-header">
                <a href="/../index.html"> Robust UI <i class="fa-regular fa-rocket-launch"></i> </a>
            </div>

            <ul class="navbar-pills">
                <li>
                    <a href="/../index.html">Home <i class="fa-solid fa-house-chimney-window"></i></a>
                </li>
                <li>
                    <a href="https://github.com/Shivangisharma01/Robust-UI">Github-DOC <i
                            class="fa-brands fa-github"></i></a>
                </li>
            </ul>
        </nav>
    </header>


    <div class="container-box">


        <main class="side-content">
            <section class="sidebar">

                <div>
                    <div class="list-heading">
                        <a href="/Components/Avatar/avatar.html">Components</a>
                    </div>
                    <ul class="list-subheading">
                        <li>
                            <a href="/Components/Alert/alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Avatar/avatar.html">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Badge/badge.html">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Button/button.html">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Card/card.html">
                                Card
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                Grid
                            </a>
                        </li>
                        <li>
                            <a href="/Components/ImageR/imageR.html">
                                Image
                            </a>
                        </li>
                        <li>
                            <a  href="/components/Input/input.html">
                                Input
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Lists/lists.html">
                                List
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Navigation/Navigation.html">
                                Navigation
                            </a>
                        </li>
                        <li>
                            <a  href="/components/Rating/rating.html">
                                Rating
                            </a>
                        </li>

                        <li>
                            <a href="/Components/Slidebar/slidebar.html">
                                Slider
                            </a>
                        </li>
                       
                        <li>
                            <a href="/Components/Toast/toast.html">
                                Toast
                            </a>
                        </li>
                    </ul>
                </div>

            </section>

            <section class="main-content-box">
                <div class="content-heading">
                    Grid
                </div>
                <div class="divider-space"></div>
                <div class="content-subheading">
                    Grid is used to make it easier to design web pages without having to use floats and positioning.
                    By default, a container has one grid item for each column, in each row, but you can style the grid items so that they will span multiple columns and/or rows.
                </div>

                <div class="divider-space"></div>
                <div class="content-header">
                   Two colomuns Grid
                </div>


                <div class="grid-two-cols ">
                    
                        <div class="grid-item ">Grid 1</div>
                        <div class="grid-item ">Grid 2</div>
                       
                </div>


                <iframe src="https://carbon.now.sh/embed/7VHjcIWD8py70eIEC17R"
                    style="width: 50rem;margin-bottom: 2.1rem; min-height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                
                <div class="divider-space"></div>
                <div class="content-header">
                   Three colomuns Grid
                </div>


                <div class="grid-three-cols ">
                   
                        <div class="grid-item ">Grid 1</div>
                        <div class="grid-item ">Grid 2</div>
                        <div class="grid-item ">Grid 3</div>
                      
                    </div>

                    


                <iframe src="https://carbon.now.sh/embed/FMF2w4bPWyeJgqHE3RK8"
                    style="width: 50rem;margin-bottom: 2.1rem; min-height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </section>
        </main>
    </div>
    </div>

    <footer class="footer">
        <div class="footer-header">Made by Shivangi Sharma</div>
        <ul class="footer-list">
            <li class="list-item-inline">
                <a class="links" href="https://github.com/Shivangisharma01" target="blank">
                    <i class="fa-brands fa-github-square"></i> GitHub</a>
            </li>
            <li class="list-item-inline">
                <a class="links" href="https://twitter.com/Shivangi_1001" target="blank"><i
                        class="fa-brands fa-twitter-square"></i> Twitter</a>
            </li>
            <li class="list-item-inline">
                <a class="links" href="https://www.linkedin.com/in/shivangi-sharma-01" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                    linkedIn
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>