<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="card.css">
    <link rel="stylesheet" href="/components/Button/button.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="js/fontawesomepro.js"></script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css">

    <title>Robust UI | Card</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-header">
                <a href="/../index.html"> Robust UI <i class="fa-regular fa-rocket-launch"></i> </a>
            </div>

            <ul class="navbar-pills">
                <li>
                    <a href="/../index.html">Home <i class="fa-solid fa-house-chimney-window"></i></a>
                </li>
                <li>
                    <a href="https://github.com/Shivangisharma01/Robust-UI">Github-DOC <i
                            class="fa-brands fa-github"></i></a>
                </li>
            </ul>
        </nav>
    </header>


    <div class="container-box">


        <main class="side-content">
            <section class="sidebar">

                <div>
                    <div class="list-heading">
                        <a href="/Components/Avatar/avatar.html">Components</a>
                    </div>
                    <ul class="list-subheading">
                        <li>
                            <a href="/Components/Alert/alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Avatar/avatar.html">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Badge/badge.html">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Button/button.html">
                                Button
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                Card
                            </a>
                        </li>
                        <li>
                            <a  href="/components/Grid/grid.html">
                                Grid
                            </a>
                        </li>
                        <li>
                            <a href="/Components/ImageR/imageR.html">
                                Image
                            </a>
                        </li>
                        <li>
                            <a  href="/components/Input/input.html">
                                Input
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Lists/lists.html">
                                List
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Navigation/Navigation.html">
                                Navigation
                            </a>
                        </li>
                        <li>
                            <a  href="/components/Rating/rating.html">
                                Rating
                            </a>
                        </li>

                        <li>
                            <a href="/Components/Slidebar/slidebar.html">
                                Slider
                            </a>
                        </li>
                       
                        <li>
                            <a href="/Components/Toast/toast.html">
                                Toast
                            </a>
                        </li>
                    </ul>
                </div>

            </section>

            <section class="main-content-box">



                <div class="content-heading">
                    Cards
                </div>
                <div class="divider-space"></div>
                <div class="content-subheading">
                    The card component can contain a variety of content, including a heading, image, content and a footer.
                    Cards are a convenient means of displaying content composed of different types of objects. 
                    They’re also well-suited for presenting similar objects whose size or supported actions can vary considerably, like photos with captions of variable length.
                </div>

                <div class="divider-space"></div>
                <div class="content-header">
                   Card with text 
                </div>
                <div class="content-subheading">
                    This card contains heading and text.
                </div>

                <div class="example-content ">

                    <div class="card">
                        <div class="card-title">
                            DavidOff Fragrances
                        </div>
                        <div class="card-text">

                            The Zino Davidoff Group is a Swiss-based family business that manufactures prestige fragrances, colognes and many more exclusive products.


                        </div>
                    </div>

                </div>                


                <iframe src="https://carbon.now.sh/embed/8pD7xEquiLpmM9heiOi6"
                    style="width: 50rem;margin-bottom: 2.1rem; min-height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                
                <div class="divider-space"></div>
                <div class="content-header">
                  Vertical Card
                </div>

                <div class="content-subheading">
                    This card contains image, heading, text and button and is laid out vertically.
                </div>


                <div class="example-content ">

                    <div class="card">

                        <img class="card-image"
                        src="/images/perfume-one.PNG"
                        alt="Image" />

                        <div class="card-title">
                            DavidOff Cool Water
                        </div>
                        <div class="card-text">

                            The Zino Davidoff Group is a Swiss-based family business that manufactures prestige fragrances, colognes and many more exclusive products.
                         </div>

                         <button class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i> ADD TO
                            CART</button>
                        <button class="btn btn-secondary"><i class="fa-solid fa-bag-shopping"></i>
                            BUY NOW</button>

                    </div>

                </div>        

                    


                <iframe src="https://carbon.now.sh/embed/CNdm2pI4maOavxXEnclj"
                    style="width: 50rem;margin-bottom: 2.1rem; min-height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>


                 <div class="divider-space"></div>
                <div class="content-header">
                Horizontal Card with Shadow
                </div>

                <div class="content-subheading">
                    This card contains image, heading, text and button and is laid out horizontally.
                </div>


                <div class="example-content ">

                    <div class="horizontal-card">

                        <img class="hz-card-image"
                        src="/images/perfume-one.PNG"
                        alt="Image" />
                        <div class="horizontal-content">
                        <div class="card-title">
                            DavidOff Cool Water
                        </div>
                        <div class="card-text">

                            The Zino Davidoff Group is a Swiss-based family business that manufactures prestige fragrances, colognes and many more exclusive products.
                         </div>

                         <button class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i> ADD TO
                            CART</button>
                        <button class="btn btn-secondary"><i class="fa-solid fa-bag-shopping"></i>
                            BUY NOW</button>
                      </div>
                    </div>

                </div>        


                <iframe src="https://carbon.now.sh/embed/Ut9MDqJGzbIG5DauAiZD"
                    style="width: 50rem;margin-bottom: 2.1rem; min-height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>



                

                <div class="divider-space"></div>
                <div class="content-header">
                  Card with Badge
                </div>

                <div class="content-subheading">
                    Badge in card is used to give the user specific infomation regarding that card.
                </div>


                <div class="example-content ">

                    <div class=" card card-price">

                        <div class="image-product">
                            <img src="/images/perfume-one.PNG"
                                alt="Image" />
                                <div class="card-badge">
                                    19% OFF
                                </div>
                        </div>
                        <div class="card-title">
                           DavidOff
                        </div>
                        <div class="card-text">
                            Cool Water
                        </div>
                        <div class="all-price">
                            <span class="price-after">
                                Rs.4,212
                            </span>
                            <span class="price-before">
                                Rs.5,200
                            </span>
                            <span class="discount">
                                (19% OFF)
                            </span>
                        </div>

                         <button class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i> ADD TO
                            CART</button>
                        <button class="btn btn-secondary"><i class="fa-solid fa-bag-shopping"></i>
                            BUY NOW</button>
                      
                    </div>

                </div>        


                <iframe src="https://carbon.now.sh/embed/BZ5k4xoxWZeT1IqTgPIu"
                    style="width: 50rem;margin-bottom: 2.1rem; min-height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>


                <div class="divider-space"></div>
                <div class="content-header">
                  Card with Dismiss
                </div>

                <div class="content-subheading">
                    In this card we've a dimiss button which can be used to dismiss the card.
                </div>


                <div class="example-content ">

                    <div class=" card card-price">

                        <div class="image-product">
                            <img src="/images/perfume-one.PNG"
                                alt="Image" />
                                <div class="card-dismiss">
                                    <i class="fa-regular fa-circle-xmark"></i>
                                </div>
                        </div>
                        <div class="card-title">
                           DavidOff
                        </div>
                        <div class="card-text">
                            Cool Water
                        </div>
                        <div class="all-price">
                            <span class="price-after">
                                Rs.4,212
                            </span>
                            <span class="price-before">
                                Rs.5,200
                            </span>
                            <span class="discount">
                                (19% OFF)
                            </span>
                        </div>

                         <button class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i> ADD TO
                            CART</button>
                        <button class="btn btn-secondary"><i class="fa-solid fa-bag-shopping"></i>
                            BUY NOW</button>
                      
                    </div>

                </div>        


                <iframe src="https://carbon.now.sh/embed/JrYg9r5MzOiFuitXh06a"
                    style="width: 50rem;margin-bottom: 2.1rem; min-height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <div class="divider-space"></div>
                <div class="content-header">
                  Card with Overlay
                </div>
                <div class="content-subheading">
                    Card with text overlay.
                </div>


                <div class="example-content ">

                    <div class=" card card-price">

                        <div class="image-product">
                            <img src="/images/perfume-one.PNG"
                                alt="Image" />
                               
                        </div>
                        <div class="card-title">
                           DavidOff
                        </div>
                        <div class="card-text">
                            Cool Water
                        </div>
                        <div class="all-price">
                            <span class="price-after">
                                Rs.4,212
                            </span>
                            <span class="price-before">
                                Rs.5,200
                            </span>
                            <span class="discount">
                                (19% OFF)
                            </span>
                        </div>

                         <button class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i> ADD TO
                            CART</button>
                        <button class="btn btn-secondary"><i class="fa-solid fa-bag-shopping"></i>
                            BUY NOW</button>
                        </div>
                            <div class="card-overlay">
                                <div class="card-overlay-text">
                                    Out of stock
                                
                                </div>
                    </div>

                </div>        


                <iframe src="https://carbon.now.sh/embed/VA0K0Joet3c6TwwYxHRz"
                    style="width: 50rem;margin-bottom: 2.1rem; min-height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>


            </section>
        </main>
    </div>
    </div>

    <footer class="footer">
        <div class="footer-header">Made by Shivangi Sharma</div>
        <ul class="footer-list">
            <li class="list-item-inline">
                <a class="links" href="https://github.com/Shivangisharma01" target="blank">
                    <i class="fa-brands fa-github-square"></i> GitHub</a>
            </li>
            <li class="list-item-inline">
                <a class="links" href="https://twitter.com/Shivangi_1001" target="blank"><i
                        class="fa-brands fa-twitter-square"></i> Twitter</a>
            </li>
            <li class="list-item-inline">
                <a class="links" href="https://www.linkedin.com/in/shivangi-sharma-01" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                    linkedIn
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>