<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="input.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="js/fontawesomepro.js"></script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css">

    <title>Robust UI | Input </title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-header">
                <a href="/../index.html"> Robust UI <i class="fa-regular fa-rocket-launch"></i> </a>
            </div>

            <ul class="navbar-pills">
                <li>
                    <a href="/../index.html">Home <i class="fa-solid fa-house-chimney-window"></i></a>
                </li>
                <li>
                    <a href="https://github.com/Shivangisharma01/Robust-UI">Github-DOC <i
                            class="fa-brands fa-github"></i></a>
                </li>
            </ul>
        </nav>
    </header>


    <div class="container-box">


        <main class="side-content">
            <section class="sidebar">

                <div>
                    <div class="list-heading">
                        <a href="/Components/Avatar/avatar.html">Components</a>
                    </div>
                    <ul class="list-subheading">
                        <li>
                            <a href="/Components/Alert/alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Avatar/avatar.html">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Badge/badge.html">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Button/button.html">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Card/card.html">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Grid/grid.html">
                                Grid
                            </a>
                        </li>
                        <li>
                            <a href="/Components/ImageR/imageR.html">
                                Image
                            </a>
                        </li>
                        <li>
                            <a  class="active" href="#">
                                Input
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Lists/lists.html">
                                List
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Navigation/Navigation.html">
                                Navigation
                            </a>
                        </li>
                        <li>
                            <a  href="/components/Rating/rating.html">
                                Rating
                            </a>
                        </li>
                       
                        <li>
                            <a href="/Components/Toast/toast.html">
                                Toast
                            </a>
                        </li>
                    </ul>
                </div>

            </section>

            <section class="main-content-box">
                <div class="content-heading">
                    Input
                </div>
                <div class="divider-space"></div>
                <div class="content-subheading">
                    The input element is used to present users with an interactive control for entering data.
                </div>

                <div class="divider-space"></div>
                <div class="content-header">
                    Input Field
                </div>

                <div class="content-subheading">
                    The Input fields are usually made with a label withal the actual input field for telling the role of
                    it.
                </div>

                <div class="example-content ">
                    <div class="input-field ">
                        <label>UserName <span class="mandatory-field">*</span></label>

                        <input type="text" class="input-basic">
                    </div>

                    <div class="input-field ">
                        <label>Password<span class="mandatory-field">*</span></label>
                        <input type="password" class="input-basic">
                    </div>

                    <div class="input-field"> <button class="btn-login">logIn</button></div>
                </div>


                <iframe src="https://carbon.now.sh/embed/HST69omYePRwyp11caCt"
                    style="width: 50rem;margin-bottom: 2.1rem; min-height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                
                <div class="divider-space"></div>
                <div class="content-header">
                    Input Field wiith Validation Style
                </div>

                <div class="content-subheading">
                    The Input fields with validation style are usually used to give the message regarding the data entered by the user.
                    
                </div>

                <div class="example-content ">
                    <div class="input-field ">
                        <label>UserName <span class="mandatory-field">*</span></label>

                        <input type="text" class="input-error">
                        <div class="error-message">
                            <i class="fa-solid fa-triangle-exclamation"></i> UserName should not contain special chracters!
                        </div>
                    </div>

                    <div class="input-field ">
                        <label>Password<span class="mandatory-field">*</span></label>
                        <input type="password" class="input-success">
                        <div class="success-message">
                            <i class="fa-solid fa-circle-check"></i> Password Created!
                        </div>
                    </div>

                    <div class="input-field"> <button class="btn-login">logIn</button></div>
                </div>


                <iframe src="https://carbon.now.sh/embed/btB88z704n8mngOTo9IX"
                    style="width: 50rem;margin-bottom: 2.1rem; min-height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </section>
        </main>
    </div>
    </div>

    <footer class="footer">
        <div class="footer-header">Made by Shivangi Sharma</div>
        <ul class="footer-list">
            <li class="list-item-inline">
                <a class="links" href="https://github.com/Shivangisharma01" target="blank">
                    <i class="fa-brands fa-github-square"></i> GitHub</a>
            </li>
            <li class="list-item-inline">
                <a class="links" href="https://twitter.com/Shivangi_1001" target="blank"><i
                        class="fa-brands fa-twitter-square"></i> Twitter</a>
            </li>
            <li class="list-item-inline">
                <a class="links" href="https://www.linkedin.com/in/shivangi-sharma-01" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                    linkedIn
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>