<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="button.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css" />

    <title>Robust-UI</title>
</head>

<body>
    <nav>
        <div class="nav-header">
            <a href="#"> Robust UI <i class="fa-regular fa-rocket-launch"></i> </a>
        </div>

        <ul class="navbar-pills">
            <li>
                <a href="index.html">Home <i class="fa-solid fa-house-chimney-window"></i></a>
            </li>
            <li>
                <a href="https://github.com/Shivangisharma01/Robust-UI">Github-DOC <i
                        class="fa-brands fa-github"></i></a>
            </li>
        </ul>
    </nav>
    <div class="container-box">
        <div class="side-content">
            <div class="sidebar">
                <div>
                    <div class="list-heading">
                        <a href="/Components/Avatar/avatar.html">Components</a>
                    </div>
                    <ul class="list-subheading">
                        <li>
                            <a href="/Components/Alert/alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Avatar/avatar.html">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Badge/badge.html">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Card/card.html">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Grid/grid.html">
                                Grid
                            </a>
                        </li>
                        <li>
                            <a href="/Components/ImageR/imageR.html">
                                Image
                            </a>
                        </li>
                        <li>
                            <a  href="/components/Input/input.html">
                                Input
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Lists/lists.html">
                                List
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Navigation/Navigation.html">
                                Navigation
                            </a>
                        </li>
                        <li>
                            <a  href="/components/Rating/rating.html">
                                Rating
                            </a>
                        </li>
                       
                        <li>
                            <a href="/Components/Toast/toast.html">
                                Toast
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-content-box">
                <div class="content-heading">
                    Button
                </div>
                <div class="content-subheading">
                    A button is a widget used to perform actions such as submitting a form, opening a dialog, canceling
                    an action, or performing a command such as inserting a new record or displaying information.
                </div>

                <div class="divider-space"></div>

                <div class="content-header">
                    Solid Button
                </div>

                <div class="content-subheading">
                    Solid button is simple basic textual button used for primary functions, which mostly is based on
                    website theme color.

                </div>

                <div class="example-content ">
                    <button class="btn btn-primary">PRIMARY</button>

                    <button class="btn btn-error">ERROR</button>

                    <button class="btn btn-success">SUCCESS</button>
                </div>

                <iframe src="https://carbon.now.sh/embed/p67y7gfc48v9Drd3RyDw" style="
              width: 50rem;
              height: 21rem;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            " sandbox="allow-scripts allow-same-origin">
                </iframe>

                <div class="divider-space"></div>

                <div class="content-header">
                    Icon Button
                </div>

                <div class="content-subheading">
                    Button with icons are generally used to highlight the role performed and to seek the user attention
                    towards it.
                </div>

                <div class="example-content ">
                    <button class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i> ADD TO CART</button>

                    <button class="btn btn-error"><i class="fa-light fa-heart"></i> ADD TO WISHLIST</button>

                    <button class="btn btn-success"><i class="fa-solid fa-bag-shopping"></i> BUY NOW</button>
                </div>
                <iframe src="https://carbon.now.sh/embed/o2atTOPrigPBUqgU0iPO" style="
              width: 50rem;
              height: 21rem;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            " sandbox="allow-scripts allow-same-origin">
                </iframe>



                <div class="divider-space"></div>

                <div class="content-header">
                    Float Action Button
                </div>

                <div class="content-subheading">
                    These buttons  performs  most common action on screen and are fixed to a particular part of the viewport and are stacked on top of all the
                    things.

                </div>

                <div class="example-content ">
                    <button class="float-btn btn-primary"><i class="fa-solid fa-arrow-up-from-line"></i></button>

                    <button class="float-btn btn-success"><i class="fa-solid fa-user-headset"></i></button>
                </div>

                <iframe src="https://carbon.now.sh/embed/sa7WJDrTuVNN5jBuILFy" style="
              width: 50rem;
              height: 21rem;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            " sandbox="allow-scripts allow-same-origin">
                </iframe>

                <div class="divider-space"></div>

                <div class="content-header">
                    Button with link
                </div>

                <div class="content-subheading">
                   Button with links and basically used when you have to redirect the user onto the another website or on diffrent segment on the same webpage.
                </div>

                <div class="example-content ">
                    <button class="btn link-btn"><a href="#">CHROME-link</a></button>

                    <button class="btn link-btn"> <a href="#">EDGE-link</a></button>

                </div>

                <iframe src="https://carbon.now.sh/embed/yiEj5AGguZPXSt9UdM3b" style="
              width: 50rem;
              height: 21rem;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            " sandbox="allow-scripts allow-same-origin">
                </iframe>

            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-header">Made by Shivangi Sharma</div>
        <ul class="footer-list">
            <li class="list-item-inline">
                <a class="links" href="https://github.com/Shivangisharma01" target="blank">
                    <i class="fa-brands fa-github-square"></i> GitHub</a>
            </li>
            <li class="list-item-inline">
                <a class="links" href="https://twitter.com/Shivangi_1001" target="blank"><i
                        class="fa-brands fa-twitter-square"></i> Twitter</a>
            </li>
            <li class="list-item-inline">
                <a class="links" href="https://www.linkedin.com/in/shivangi-sharma-01" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                    linkedIn
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>