.avatar {
    border-radius: var(--border-rd-circle);
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 10px;
}

.avatar-sm {
    width: 2.5rem;
    height: 2.5rem;
}

.avatar-md {
    width: 4rem;
    height: 4rem;
}

.avatar-lg {
    width: 6rem;
    height: 6rem;
}

.avatar-square {
    border-radius: 4px;
}