<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="imageR.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css"
    />

    <title>Robust-UI | Image </title>
  </head>

  <body>
    <nav>
      <div class="nav-header">
        <a href="#"> Robust UI <i class="fa-regular fa-rocket-launch"></i> </a>
      </div>

      <ul class="navbar-pills">
        <li>
          <a href="index.html"
            >Home <i class="fa-solid fa-house-chimney-window"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/Shivangisharma01/Robust-UI"
            >Github-DOC <i class="fa-brands fa-github"></i
          ></a>
        </li>
      </ul>
    </nav>
    <div class="container-box">
      <div class="side-content">
        <div class="sidebar">
          
            <div class="list-heading">
              <a href="/Components/Avatar/avatar.html">Components</a>
            </div>
            <ul class="list-subheading">
              <li>
                  <a href="/Components/Alert/alert.html">
                      Alert
                  </a>
              </li>
              <li>
                  <a href="/Components/Avatar/avatar.html">
                      Avatar
                  </a>
              </li>
              <li>
                  <a href="/Components/Badge/badge.html">
                      Badge
                  </a>
              </li>
              <li>
                  <a href="/Components/Button/button.html">
                      Button
                  </a>
              </li>
              <li>
                  <a href="/Components/Card/card.html">
                      Card
                  </a>
              </li>
              <li>
                  <a href="/Components/Grid/grid.html">
                      Grid
                  </a>
              </li>
              <li>
                  <a class="active" href="#">
                      Image
                  </a>
              </li>
              <li>
                  <a  href="/components/Input/input.html">
                      Input
                  </a>
              </li>
              <li>
                  <a href="/Components/Lists/lists.html">
                      List
                  </a>
              </li>
              <li>
                <a href="/Components/Navigation/Navigation.html">
                      Navigation
                  </a>
              </li>
              <li>
                  <a  href="/components/Rating/rating.html">
                      Rating
                  </a>
              </li>
             
              <li>
                  <a href="/Components/Toast/toast.html">
                      Toast
                  </a>
              </li>
          </ul>
          </div>
        
    
        <div class="main-content-box">
          <div class="content-heading">
         Images
          </div>
          <div class="content-subheading">
            Images are the center of attraction in a website. Human mind grasp the information much faster from images as compare to text, which makes the website more understandable and applealing.
          </div>

          <div class="divider-space"></div>

          <div class="content-header">
           Round Images
          </div>

          <div class="content-subheading">
            Use class <strong>.round-image</strong> for round images.
          </div>

          <div class="example-content ">
            <img src="/images/harry-image.PNG "
            alt="image" class="round-image" />
          </div>

          <iframe
            src="https://carbon.now.sh/embed/6o7KYmefdHgUzhd2jWJK"
            style="
              width: 50rem;
              height: 15rem;
              margin-top: 2rem;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>

          <div class="divider-space"></div>

          <div class="content-header">
           Square Images
          </div>

          <div class="content-subheading">
            Use class <strong>.square-image</strong> for square images.
          </div>

          <div class="example-content ">
            <img src="/images/harry-image.PNG  "
            alt="image" class="square-image" />
          </div>

          <iframe
            src="https://carbon.now.sh/embed/uxUUtzNYRMRNvEbQyoo3"
            style="
              width: 50rem;
              height: 15rem;
              margin-top: 2rem;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>

          <div class="divider-space"></div>

          <div class="content-header">
           Responsive Images
          </div>

          <div class="content-subheading">
            Use class <strong>.responsive-image</strong> for responsive images.
          </div>

          <div class="example-content ">
            <img src="/images/harry-image.PNG "
            alt="image" class="responsive-image" />
          </div>

          <iframe
            src="https://carbon.now.sh/embed/vXUXgacUwDA7CWgwFXKX"
            style="
              width: 50rem;
              height: 15rem;
              margin-top: 2rem;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>

      </div>
    </div>
    <footer class="footer">
      <div class="footer-header">Made by Shivangi Sharma</div>
      <ul class="footer-list">
        <li class="list-item-inline">
          <a
            class="links"
            href="https://github.com/Shivangisharma01"
            target="blank"
          >
            <i class="fa-brands fa-github-square"></i> GitHub</a
          >
        </li>
        <li class="list-item-inline">
          <a
            class="links"
            href="https://twitter.com/Shivangi_1001"
            target="blank"
            ><i class="fa-brands fa-twitter-square"></i> Twitter</a
          >
        </li>
        <li class="list-item-inline">
          <a
            class="links"
            href="https://www.linkedin.com/in/shivangi-sharma-01"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin"></i>
            linkedIn
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
