.toast{
    padding: 0.8rem;
    font-weight: 600;
    font-size: 0.8rem;
    width:40rem ;
    background-color: var(--error-color);
    text-align: center;
    border-radius: 0.25rem;
    border: 1.8px solid var(  --default-color);
    color: var(--color-white) ;
}