<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lists.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="js/fontawesomepro.js"></script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css">

    <title>Robust UI | Lists</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-header">
                <a href="/../index.html"> Robust UI <i class="fa-regular fa-rocket-launch"></i> </a>
            </div>

            <ul class="navbar-pills">
                <li>
                    <a href="/../index.html">Home <i class="fa-solid fa-house-chimney-window"></i></a>
                </li>
                <li>
                    <a href="https://github.com/Shivangisharma01/Robust-UI">Github-DOC <i
                            class="fa-brands fa-github"></i></a>
                </li>
            </ul>
        </nav>
    </header>


    <div class="container-box">


        <main class="side-content">
            <section class="sidebar">

                <div>
                    <div class="list-heading">
                        <a href="/Components/Avatar/avatar.html">Components</a>
                    </div>
                    <ul class="list-subheading">
                        <li>
                            <a href="/Components/Alert/alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Avatar/avatar.html">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Badge/badge.html">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Button/button.html">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Card/card.html">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Grid/grid.html">
                                Grid
                            </a>
                        </li>
                        <li>
                            <a href="/Components/ImageR/imageR.html">
                                Image
                            </a>
                        </li>
                        <li>
                            <a  href="/components/Input/input.html">
                                Input
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                List
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Navigation/Navigation.html">
                                Navigation
                            </a>
                        </li>
                        <li>
                            <a  href="/components/Rating/rating.html">
                                Rating
                            </a>
                        </li>
                       
                        <li>
                            <a href="/Components/Toast/toast.html">
                                Toast
                            </a>
                        </li>
                    </ul>
                </div>

            </section>

            <section class="main-content-box">
                <div class="content-heading">
                    Lists
                </div>
                <div class="divider-space"></div>
                <div class="content-subheading">
                    Lists are used to specify lists of information. All lists may contain one or more list elements.
                    There are four different types of HTML lists: Ordered List,Unordered List,Description List and
                    Nested List.
                </div>

                <div class="divider-space"></div>
                <div class="content-header">
                    Ordered List
                </div>

                <div class="content-subheading">
                    In the ordered lists all the list items are marked with numbers by default. It is known as numbered list also. The ordered list starts with ol tag.
                </div>

                <div class="example-content ">
                    <div class="ordered-list">
                        <ol >  
                            <li>Car</li>  
                            <li>Sports Bike</li>  
                            <li>Rocket</li>  
                             
                           </ol>  
                    </div>

                </div>


                <iframe src="https://carbon.now.sh/embed/jfEd2zob5okmt7J5Y2AP"
                    style="width: 50rem;margin-bottom: 2.1rem; min-height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <div class="divider-space"></div>
                <div class="content-header">
                    Unordered List
                </div>

                <div class="content-subheading">
                    In Unordered list all the list items are marked with bullets, you can also change the bullets style with the help of type attribute. It is also known as bulleted list also. The Unordered list starts with ul tag.
                </div>

                <div class="example-content ">
                    <div class=" unordered-list">
                        <ul >  
                            <li type="disc">Car</li>  
                            <li type="square">Sports Bike</li>  
                            <li  type="circle">Rocket</li>  
                             
                           </ul>  
                    </div>

                </div>


                <iframe src="https://carbon.now.sh/embed/DtRbhzrn0l69nQa1cAgg"
                    style="width: 50rem;margin-bottom: 2.1rem; min-height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <div class="divider-space"></div>
                <div class="content-header">
                    Description  List
                </div>

                <div class="content-subheading">
                    Description  list it is also known as definition list where entries are listed like a dictionary or encyclopedia.
                    Description  list contains following three tags:
                  1  dl tag- defines the start of the list.
                      2  dt tag- defines a term.
                      3  dd tag- defines the term definition (description).
                </div>

                <div class="example-content ">
                    <div class="description-list">
                        <dl>  
                            <dt>Aries</dt>  
                            <dd>-Birthday month March 21 - April 20.</dd>  
                            <dt>Pisces</dt>  
                            <dd>-Birthday month February 19 - March 20.</dd>  
                           <dt>Sagittarius</dt>  
                           <dd>-Birthday month November 23 - December 21.</dd>  
                        </dl>
                    </div>

                </div>


                <iframe src="https://carbon.now.sh/embed/XCF3Mn1Wozs3t5i8IxfJ"
                    style="width: 50rem;margin-bottom: 2.1rem; min-height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <div class="divider-space"></div>
                <div class="content-header">
                    Nested List
                </div>

                <div class="content-subheading">
                    A list within another list is termed as nested list. You can add any list in one-another, here is the example of unordered list within the ordered list. 
                </div>

                <div class="example-content ">
                    <div class="nested-list">
                        <ol >  
                            <li>Shopping list</li>
                            <ul>
                            <li>Mlik</li>
                            <li>Cheese</li>
                            <li>Chocolate</li>  
                        </ul>

                            <li>Horoscope Names from February-May</li>  
                            <ul>
                            <li>Aquarius</li>
                            <li>Pisces</li>
                            <li>Aries</li>
                            <li>Gemini</li>
                            </ul>
                             
                           </ol>  
                    </div>

                </div>


                <iframe src="https://carbon.now.sh/embed/1utQ8EGlwnKtW7CbkUfY"
                    style="width: 50rem;margin-bottom: 2.1rem; min-height: 20rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

            </section>
        </main>
    </div>
    </div>

    <footer class="footer">
        <div class="footer-header">Made by Shivangi Sharma</div>
        <ul class="footer-list">
            <li class="list-item-inline">
                <a class="links" href="https://github.com/Shivangisharma01" target="blank">
                    <i class="fa-brands fa-github-square"></i> GitHub</a>
            </li>
            <li class="list-item-inline">
                <a class="links" href="https://twitter.com/Shivangi_1001" target="blank"><i
                        class="fa-brands fa-twitter-square"></i> Twitter</a>
            </li>
            <li class="list-item-inline">
                <a class="links" href="https://www.linkedin.com/in/shivangi-sharma-01" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                    linkedIn
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>