.ordered-list {
    font-weight: var(--semi-bold-text);
}

.unordered-list{
    color: var(--hold-color);
    font-weight: var(--semi-bold-text);
}

 .stacked-list{
    display: flex;
    gap: 4rem;
    flex-direction: row;
}

