<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="alert.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css"
    />

    <title>Robust-UI | Alert </title>
  </head>

  <body>
    <nav>
      <div class="nav-header">
        <a href="/../index.html"> Robust UI <i class="fa-regular fa-rocket-launch"></i> </a>
      </div>

      <ul class="navbar-pills">
        <li>
          <a href="/../index.html"
            >Home <i class="fa-solid fa-house-chimney-window"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/Shivangisharma01/Robust-UI"
            >Github-DOC <i class="fa-brands fa-github"></i
          ></a>
        </li>
      </ul>
    </nav>
    <div class="container-box">
      <div class="side-content">
        <div class="sidebar">
          <div>
            <div class="list-heading">
              <a href="/Components/Avatar/avatar.html">Components</a>
            </div>
            <ul class="list-subheading">
              <li>
                <a class="active" href="#">
                  Alert
                </a>
              </li>
              <li>
                  <a href="/Components/Avatar/avatar.html">
                      Avatar
                  </a>
              </li>
              <li>
                  <a href="/Components/Badge/badge.html">
                      Badge
                  </a>
              </li>
              <li>
                  <a href="/Components/Button/button.html">
                      Button
                  </a>
              </li>
              <li>
                  <a href="/Components/Card/card.html">
                      Card
                  </a>
              </li>
              <li>
                  <a href="/Components/Grid/grid.html">
                      Grid
                  </a>
              </li>
              <li>
                  <a href="/Components/ImageR/imageR.html">
                      Image
                  </a>
              </li>
              <li>
                  <a  href="/components/Input/input.html">
                      Input
                  </a>
              </li>
              <li>
                  <a href="/Components/Lists/lists.html">
                      List
                  </a>
              </li>
              <li>
                <a href="/Components/Navigation/Navigation.html">
                      Navigation
                  </a>
              </li>
              <li>
                  <a  href="/components/Rating/rating.html">
                      Rating
                  </a>
              </li>
             
              <li>
                  <a href="/Components/Toast/toast.html">
                      Toast
                  </a>
              </li>
          </ul>
          </div>
        </div>
    
        <div class="main-content-box">
          <div class="content-heading">
            Alert
          </div>
          <div class="content-subheading">
            Alert is a contextual message for typical user actions and notify
            them of approching results.
          </div>

          <div class="divider-space"></div>

          <div class="content-header">
            Solid Alert
          </div>

          <div class="content-subheading">
            Solid simple Alerts can be created using <code>alert</code> class,
            accompanied with the
            <code>variant</code>
            name.
          </div>

          <div class="example-content alert-box">
            <div class="alert alert-info">
              <strong>Info!</strong> Example of primary Info Alert
            </div>

            <div class="alert alert-error">
              <strong>Error!</strong> Example of Error Alert
            </div>

            <div class="alert alert-success">
              <strong>Success!</strong> Example of Success Alert
            </div>

            <div class="alert alert-warning">
              <strong>Warning!</strong> Example of Warning Alert
            </div>
          </div>

          <iframe
            src="https://carbon.now.sh/embed/vTU28PXzNVUwRxSpCWEA"
            style="
              width: 50rem;
              height: 30rem;
              margin-top: 1.5rem;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>

          <div class="divider-space"></div>

          <div class="content-header">
            Outline-Alert along Icon
          </div>

          <div class="content-subheading">
            You can create Outline alert by using <code>alert</code> class,
            after that using <code>outline-variant</code>.
          </div>

          <div class="example-content alert-box">
            <div class="alert alert-outline-info">
              <strong> <i class="fa-solid fa-info"></i> Info!</strong> Example
              of Primary Alert with Icon
            </div>

            <div class="alert alert-outline-error">
              <strong>
                <i class="fa-solid fa-circle-exclamation"></i> Error!</strong
              >
              Example of Error Alert with Icon
            </div>

            <div class="alert alert-outline-success">
              <strong> <i class="fa-solid fa-badge-check"></i> Success!</strong>
              Example of Success Alert with Icon
            </div>

            <div class="alert alert-outline-warning">
              <strong> <i class="fa-solid fa-bomb"></i>Warning!</strong> Example
              of Warning Alert with Icon
            </div>
          </div>
          <iframe
            src="https://carbon.now.sh/embed/RslemPVESwMWZauw7i3i"
            style="
              width: 50rem;
              height: 30rem;
              margin-top: 1.5rem;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-header">Made by Shivangi Sharma</div>
      <ul class="footer-list">
        <li class="list-item-inline">
          <a
            class="links"
            href="https://github.com/Shivangisharma01"
            target="blank"
          >
            <i class="fa-brands fa-github-square"></i> GitHub</a
          >
        </li>
        <li class="list-item-inline">
          <a
            class="links"
            href="https://twitter.com/Shivangi_1001"
            target="blank"
            ><i class="fa-brands fa-twitter-square"></i> Twitter</a
          >
        </li>
        <li class="list-item-inline">
          <a
            class="links"
            href="https://www.linkedin.com/in/shivangi-sharma-01"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin"></i>
            linkedIn
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
